body {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--color-background-primary);
  color: var(--color-text-dark-primary);
  position: relative;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 16px;

  @media screen and (min-width: 780px) {
    max-width: 780px;
    padding: 0 40px;
  }

  @media screen and (min-width: 1540px) {
    max-width: 1540px;
    padding: 0 87px;
  }
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

// svg {
//   width: 15px;
//   height: 15px;
// }
