body {
  // font-family: Work Sans, sans-serif;
  // font-weight: 300;
  // font-size: 20px;
  // line-height: 1.5;
  // letter-spacing: 0.005em;
  // background-color: var(--color-background-main);
  // color: var(--color-font-main);
  position: relative;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  width: 100%;
  height: auto;
}

// .container {
//   max-width: 1920px;
//   padding: 0 250px;
//   margin: 0 auto;
// }

svg {
  width: 15px;
  height: 15px;
}
