// Roboto 900
// Roboto 400

//Azo Sans 900
//Azo Sans 700
//Azo Sans 500
//Azo Sans 400
//Azo Sans italic 400
//Azo Sans 300

:root {
  --color-background-primary: #ffffff;
  --color-background-secondary: #05058c;

  --color-accent: #05058c;
  --color-accent-secondary: #100fa8;

  --color-text-light: #f4f2fa;
  --color-text-dark-primary: #000033;
  --color-text-dark-secondary: #4d4d70;
  --color-text-white: #ffffff;

  --color-text-slide-menu: #100fa8;
  --color-border-solutions: #ccccd6;
  --color-border-feedback: #ccccd6;
}
