<section class="awards">
  <div class="container">
    <h2 class="primary-font_title awards_title">Premios y reconocimientos</h2>
    <ul class="awards-list">
      <li class="awards-item">
        <img src="./images/default.png" alt="awards logo" />
      </li>
      <li class="awards-item">
        <img src="./images/default.png" alt="awards logo" />
      </li>
      <li class="awards-item">
        <img src="./images/default.png" alt="awards logo" />
      </li>
    </ul>
  </div>
</section>
