<section class="awards">
  <div class="container">
    <h2 class="awards_title">Premios y reconocimientos</h2>
    <ul class="partners-list">
      <li class="partners-item">
        <img
          src="./images/default.png"
          alt="partners logo"
          style="width: 80px; height: 90px"
        />
      </li>
      <li class="partners-item">
        <img
          src="./images/default.png"
          alt="partners logo"
          style="width: 80px; height: 90px"
        />
      </li>
      <li class="partners-item">
        <img
          src="./images/default.png"
          alt="partners logo"
          style="width: 80px; height: 90px"
        />
      </li>
    </ul>
  </div>
</section>
