<section class="contacts section">
  <div class="container">
    <div class="contacts-holder">
      <h2 class="title contacts_title">
        Estamos listos para conversar contigo
      </h2>
      <p class="contacts_description">
        Nuestros consultores te ayudarán a llevar tu organización al siguiente
        nivel.
      </p>
      <!-- <div class="contacts_link-holder"> -->
      <a class="contact-link contacts_contact-link" href="#">Contáctanos</a>
      <!-- </div> -->
    </div>
    <div class="contacts_bgi-holder"></div>
  </div>
</section>
