<section class="content section">
  <div class="container">
    <h2 class="title content_title">Contenido para ti</h2>
    <ul class="content-list">
      <li class="content-item">
        <div class="content_img-holder">
          <img src="./images/default.png" alt="" />
        </div>
        <div class="content_caption-holder">
          <p class="content-chapter">Chapter</p>
          <h3 class="content_chapter-title">Título del contenido</h3>
          <p class="content_chapter-capture">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elit
            elementum nisl sed donec.
          </p>
          <span class="content-tag">Tag</span>
          <a href="#" class="solution-link">
            Me interesa
            <div class="arrow-right">
              <svg>
                <use></use>
              </svg>
            </div>
          </a>
        </div>
      </li>
      <li class="content-item">
        <div class="content_img-holder">
          <img src="./images/default.png" alt="" />
        </div>
        <div class="content_caption-holder">
          <p class="content-chapter">Chapter</p>
          <h3 class="content_chapter-title">Título del contenido</h3>
          <p class="content_chapter-capture">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elit
            elementum nisl sed donec.
          </p>
          <span class="content-tag">Tag</span>
          <a href="#" class="solution-link">
            Me interesa
            <div class="arrow-right">
              <svg>
                <use></use>
              </svg>
            </div>
          </a>
        </div>
      </li>
      <li class="content-item">
        <div class="content_img-holder">
          <img src="./images/default.png" alt="" />
        </div>
        <div class="content_caption-holder">
          <p class="content-chapter">Chapter</p>
          <h3 class="content_chapter-title">Título del contenido</h3>
          <p class="content_chapter-capture">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elit
            elementum nisl sed donec.
          </p>
          <span class="content-tag">Tag</span>
          <a href="#" class="solution-link">
            Me interesa
            <div class="arrow-right">
              <svg>
                <use></use>
              </svg>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
