<section class="description">
  <div class="container">
    <h2 class="description_title">Nuestro compromiso como B CORP</h2>
    <p class="description_caption">
      Usamos el poder de los negocios para desarrollar una economía inclusiva y
      sostenible; generando un triple impacto: en el ambiente, la sociedad y las
      personas, junto a un equipo que comparte los mismos valores.
    </p>
    <!--#TODO  button that download file  -->
    <button class="description-link" type="button">
      Descarga informe de impacto
      <div class="description-link_icon">
        icon
        <svg>
          <use href="#"></use>
        </svg>
      </div>
    </button>
    <div class="description_img-holder">
      <img src="#" alt="" />
    </div>
  </div>
</section>
