<section class="description section">
  <div class="container">
    <div class="description_holder">
      <h2 class="title description_title">
        Nuestro compromiso como <b>B CORP</b>
      </h2>
      <p class="description_caption">
        Usamos el poder de los negocios para desarrollar una economía inclusiva
        y sostenible; generando un triple impacto: en el ambiente, la sociedad y
        las personas, junto a un equipo que comparte los mismos valores.
      </p>
      <!--#TODO  button that download file  -->
      <a class="solution-link">
        Descarga informe de impacto
        <div class="arrow-right">
          <svg>
            <use href="#"></use>
          </svg>
        </div>
      </a>
    </div>
    <div class="description_img-holder">
      <img src="./images/default.png" alt="" />
    </div>
  </div>
</section>
