<section class="details">
  <div class="container">
    <ul class="details-list">
      <li class="details-item">
        Servicios
        <div class="details_icon">
          icon
          <svg>
            <use href="#"></use>
          </svg>
        </div>
        <ul class="details-sublist">
          <li class="details-subitem">
            Analítica Digital e Inteligencia Artificial
          </li>
          <li class="details-subitem">Canales digitales y Growth Haking</li>
          <li class="details-subitem">Consultoría CRM</li>
          <li class="details-subitem">Diseño de experiencia</li>
          <li class="details-subitem">E-commerce</li>
          <li class="details-subitem">Headhunting y Mentoring</li>
          <li class="details-subitem">Marketing Automation</li>
          <li class="details-subitem">Publicidad Digital</li>
        </ul>
      </li>
      <li class="details-item">
        Somos Neo
        <div class="details_icon">
          icon
          <svg>
            <use href="#"></use>
          </svg>
        </div>
        <ul class="details-sublist">
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
        </ul>
      </li>
      <li class="details-item">
        Paises
        <div class="details_icon">
          icon
          <svg>
            <use href="#"></use>
          </svg>
        </div>
        <ul class="details-sublist">
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
        </ul>
      </li>
      <li class="details-item">
        Recursos
        <div class="details_icon">
          icon
          <svg>
            <use href="#"></use>
          </svg>
        </div>
        <ul class="details-sublist">
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
          <li class="details-subitem">Lorem, ipsum dolor.</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
