<section class="faq section">
  <div class="container">
    <h2 class="title faq_title">Preguntas frecuentes</h2>
    <p class="faq_caption">
      Aclara todas tus dudas acerca de nuestras soluciones y cartera de
      servicios.
    </p>
    <ul class="faq-list">
      <li class="faq-item">
        <div class="faq_question-holder">
          <p class="faq-question">
            ¿Por qué elegir un servicio de consultoría en Comercio Electrónico?
          </p>
          <div class="arrow-down">
            <svg>
              <use href="#"></use>
            </svg>
          </div>
        </div>
        <p class="faq-answer">
          Para poder lograr nuestros objetivos de negocio, es importante tener
          un aliado que pueda dar acompañamiento y soporte en la estrategia de
          la tienda virtual. Ahí cobra relevancia el rol de una consultoría en
          comercio electrónico, ya que identifica los puntos de mejora durante
          toda la interación del potencial cliente con la tienda virtual. Desde
          el primer contacto que tiene a través de los diferentes canales
          digitales hasta la atención post venta y fidelización. Todo esto
          soportado a través de un equipo interdisciplinario y experto.
        </p>
      </li>
      <li class="faq-item">
        <div class="faq_question-holder">
          <p class="faq-question">
            ¿Cómo puedo elegir el CRM más adecuado para mi empresa?
          </p>
          <div class="arrow-down">
            <svg>
              <use href="#"></use>
            </svg>
          </div>
        </div>

        <p class="faq-answer">
          Existen distintas alternativas en el mercado que se adaptan a las
          necesidades y dimensiones de cada negocio. Entre las herramientas
          líderes a nivel mundial, se encuentran Salesforce, Oracle, Microsoft,
          Hubspot, entre otros. En este blog te facilitamos el camino en tan
          solo
          <a
            class="faq-answer_link"
            href="https://neoconsulting.ai/blog-neo/crm/neo-101-crm-como-elegir-un-crm-de-marketing-en-4-pasos"
          >
            4 pasos para escoger un CRM </a
          >.
        </p>
      </li>
      <li class="faq-item">
        <div class="faq_question-holder">
          <p class="faq-question">¿Por qué debo migrar a Google Analytics 4?</p>
          <div class="arrow-down">
            <svg>
              <use href="#"></use>
            </svg>
          </div>
        </div>

        <p class="faq-answer">
          Porque Universal Analytics dejará de existir en 2023. Y las compañías
          se tendrán que enfrentar 3 retos principales: Uso correcto de la
          plataforma, Cambio en la lectura de datos y el cambio en la política
          de cookies. Si quieres solicitar una reunión o conocer más sobre
          <a
            class="faq-answer_link"
            href="https://neoconsulting.ai/consultoria-implementacion-ga4#form"
          >
            cómo migrar a Google Analytics 4
          </a>
          puedes hacer
          <a
            class="faq-answer_link"
            href="https://neoconsulting.ai/consultoria-implementacion-ga4#form"
          >
            clic en este link </a
          >.
        </p>
      </li>
    </ul>
  </div>
</section>
