<footer class="footer">
  <div class="container">
    <h2 class="visually-hidden">Page footer</h2>
    <div class="footer_holder">
      <a class="logo" href="#">
        <!-- #TODO -->
        <!-- take away temporary styles -->
        <img
          src="./images/default.png"
          alt="logo"
          style="width: 91px; height: 30px"
        />
      </a>
      <a class="watchword" href="#">
        <!-- #TODO -->
        <!-- take away temporary styles -->
        <img
          src="./images/default.png"
          alt="watchword"
          style="width: 83px; height: 53px"
        />
      </a>
    </div>
    <p class="footer-descripton">
      © 2022 NEO Consulting - Todos los derechos reservados | Política de
      privacidad | Terminos de uso | Politica de Cookies
    </p>
  </div>
</footer>
