<header class="header">
  <div class="container">
    <div class="header_holder">
      <button class="header_open-slide-menu-btn btn" type="button">
        <span>-</span>
      </button>
      <div class="logo-holder">
        <a class="logo header_logo" href="#">
          <!-- #TODO -->
          <!-- take away temporary styles -->
          <img
            src="./images/default.png"
            alt="logo"
            style="width: 55px; height: 18px"
          />
        </a>
      </div>
    </div>
    <a class="contact-link header_contact-link" href="#">Contáctanos</a>
  </div>
</header>
<!-- hide -->
<!-- #TODO -->
<!-- take away temporary styles -->
<div class="header-slide-menu">
  <div class="header-slide-menu_holder">
    <a class="logo" href="#">
      <img
        src="./images/default.png"
        alt="logo"
        style="width: 55px; height: 18px"
      />
    </a>
    <button class="header_close-slide-menu-btn btn" type="button">x</button>
  </div>

  <ul class="header-slide-menu_list">
    <li class="header-slide-menu_item">
      Servicios
      <div class="arrow-down">
        icon
        <svg>
          <use href="#"></use>
        </svg>
      </div>
      <!-- <ul class="header-slide-menu_item-list">
        <li class="header-slide-menu_subitem">
          <div class="header-slide-menu_subitem-icon">
            icon
            <svg>
              <use href="#"></use>
            </svg>
          </div>
          Canales digitales y Growth Haking
        </li>
        <li class="header-slide-menu_subitem">
          <div class="header-slide-menu_subitem-icon">
            icon
            <svg>
              <use href="#"></use>
            </svg>
          </div>
          E-commerce
        </li>
        <li class="header-slide-menu_subitem">
          <div class="header-slide-menu_subitem-icon">
            icon
            <svg>
              <use href="#"></use>
            </svg>
          </div>
          Headhunting y Mentoring
        </li>
        <li class="header-slide-menu_subitem">
          <div class="header-slide-menu_subitem-icon">
            icon
            <svg>
              <use href="#"></use>
            </svg>
          </div>
          Consultoría CRM
        </li>
        <li class="header-slide-menu_subitem">
          <div class="header-slide-menu_subitem-icon">
            icon
            <svg>
              <use href="#"></use>
            </svg>
          </div>
          Analítica Digital e Inteligencia Artificial
        </li>
        <li class="header-slide-menu_subitem">
          <div class="header-slide-menu_subitem-icon">
            icon
            <svg>
              <use href="#"></use>
            </svg>
          </div>
          Diseño de experiencia
        </li>
        <li class="header-slide-menu_subitem">
          <div class="header-slide-menu_subitem-icon">
            icon
            <svg>
              <use href="#"></use>
            </svg>
          </div>
          Publicidad digital
        </li>
        <li class="header-slide-menu_subitem">
          <div class="header-slide-menu_subitem-icon">
            icon
            <svg>
              <use href="#"></use>
            </svg>
          </div>
          Marketing Automation
        </li>
      </ul> -->
    </li>
    <li class="header-slide-menu_item">
      Productos
      <div class="arrow-down">
        icon
        <svg>
          <use href="#"></use>
        </svg>
      </div>
      <!-- <ul class="header-slide-menu_item-list">
        <li class="header-slide-menu_subitem">Lorem ipsum dolor sit amet.</li>
        <li class="header-slide-menu_subitem">Lorem ipsum dolor sit amet.</li>
        <li class="header-slide-menu_subitem">Lorem ipsum dolor sit amet.</li>
      </ul> -->
    </li>
    <li class="header-slide-menu_item">
      Recursos
      <div class="arrow-down">
        icon
        <svg>
          <use href="#"></use>
        </svg>
      </div>
      <!-- <ul class="header-slide-menu_item-list">
        <li class="header-slide-menu_subitem">Lorem ipsum dolor sit amet.</li>
        <li class="header-slide-menu_subitem">Lorem ipsum dolor sit amet.</li>
        <li class="header-slide-menu_subitem">Lorem ipsum dolor sit amet.</li>
        <li class="header-slide-menu_subitem">Lorem ipsum dolor sit amet.</li>
      </ul> -->
    </li>
    <li class="header-slide-menu_item">Casos de éxito</li>
    <li class="header-slide-menu_item">Blog</li>
  </ul>
</div>
