<header class="header">
  <div class="container">
    <div class="header_holder">
      <button class="toggle-menu-btn" type="button">
        <span>---</span>
        <br />
        <span>---</span>
        <br />
        <span>---</span>
      </button>
      <a class="logo" href="#">
        <!-- #TODO -->
        <!-- take away temporary styles -->
        <img
          src="./images/default.png"
          alt="logo"
          style="width: 55px; height: 18px"
        />
      </a>
    </div>
    <a class="header_contact-link" href="#">Contáctanos</a>
  </div>
</header>
