<section class="hero">
  <div class="container">
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div>
            <h1 class="hero_title">
              Unimos la data y el diseño centrado en el usuario para obtener
              resultados de negocio
            </h1>
            <div class="hero_info-holder">
              <a class="contact-link hero_contact-link" href="#">Contáctanos</a>
              <a class="solution-link hero_solution-link" href="#">
                Ver soluciones
                <div class="arrow-right">
                  <svg>
                    <use href="#"></use>
                  </svg>
                </div>
              </a>
            </div>
            <ul class="hero_feature-list">
              <li class="hero_feature-item">
                <p class="hero_feature-item_number">21</p>
                <p class="hero_feature-item_description">años de experiencia</p>
              </li>
              <li class="hero_feature-item">
                <p class="hero_feature-item_number">+100</p>
                <p class="hero_feature-item_description">
                  empresas en más de 15 sectores distintos
                </p>
              </li>
              <li class="hero_feature-item">
                <p class="hero_feature-item_number">+800</p>
                <p class="hero_feature-item_description">
                  proyectos ejecutados en los últimos 5 años
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
