<section class="hero">
  <div class="container">
    <h1 class="hero_title">
      Unimos la data y el diseño centrado en el usuario para obtener resultados
      de negocio
    </h1>
    <div class="hero_info-holder">
      <a class="contact-link hero_contact-link" href="#">Contáctanos</a>
      <a class="hero_solution-link" href="#"
        >Ver soluciones
        <div class="hero_solution-link_icon">
          icon
          <svg>
            <use href="#"></use>
          </svg></div
      ></a>
    </div>
    <ul class="hero_feature-list">
      <li class="hero_feature-item">
        <p class="hero_feature-item_number">21</p>
        <p class="hero_feature-item_description">años de experiencia</p>
      </li>
      <li class="hero_feature-item">
        <p class="hero_feature-item_number">+100</p>
        <p class="hero_feature-item_description">
          empresas en más de 15 sectores distintos
        </p>
      </li>
      <li class="hero_feature-item">
        <p class="hero_feature-item_number">+800</p>
        <p class="hero_feature-item_description">
          proyectos ejecutados en los últimos 5 años
        </p>
      </li>
    </ul>
  </div>
</section>
