<section class="solutions section">
  <div class="container">
    <h2 class="title solutions_title">Contamos con soluciones en</h2>
    <ul class="solutions-list">
      <li class="solutions_item">
        <div class="solutions_icon">
          <svg>
            <use href="#"></use>
          </svg>
        </div>
        <h3 class="solutions-subtitle">Canales digitales y Growth Haking</h3>
        <a class="solution-link" href="#">
          Ver soluciones
          <div class="arrow-right">
            <svg>
              <use href="#"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="solutions_item">
        <div class="solutions_icon">
          <svg>
            <use href="#"></use>
          </svg>
        </div>
        <h3 class="solutions-subtitle">E-commerce</h3>

        <a class="solution-link" href="#">
          Ver soluciones
          <div class="arrow-right">
            <svg>
              <use href="#"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="solutions_item">
        <div class="solutions_icon">
          <svg>
            <use href="#"></use>
          </svg>
        </div>
        <h3 class="solutions-subtitle">Headhunting y Mentoring</h3>

        <a class="solution-link" href="#">
          Ver soluciones
          <div class="arrow-right">
            <svg>
              <use href="#"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="solutions_item">
        <div class="solutions_icon">
          <svg>
            <use href="#"></use>
          </svg>
        </div>
        <h3 class="solutions-subtitle">Consultoría CRM</h3>

        <a class="solution-link" href="#">
          Ver soluciones
          <div class="arrow-right">
            <svg>
              <use href="#"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="solutions_item">
        <div class="solutions_icon">
          <svg>
            <use href="#"></use>
          </svg>
        </div>
        <h3 class="solutions-subtitle">
          Analítica Digital e Inteligencia Artificial
        </h3>

        <a class="solution-link" href="#">
          Ver soluciones
          <div class="arrow-right">
            <svg>
              <use href="#"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="solutions_item">
        <div class="solutions_icon">
          <svg>
            <use href="#"></use>
          </svg>
        </div>
        <h3 class="solutions-subtitle">Diseño de experiencia</h3>

        <a class="solution-link" href="#">
          Ver soluciones
          <div class="arrow-right">
            <svg>
              <use href="#"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="solutions_item">
        <div class="solutions_icon">
          <svg>
            <use href="#"></use>
          </svg>
        </div>
        <h3 class="solutions-subtitle">Publicidad digital</h3>

        <a class="solution-link" href="#">
          Ver soluciones
          <div class="arrow-right">
            <svg>
              <use href="#"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="solutions_item">
        <div class="solutions_icon">
          <svg>
            <use href="#"></use>
          </svg>
        </div>
        <h3 class="solutions-subtitle">Marketing Automation</h3>

        <a class="solution-link" href="#">
          Ver soluciones
          <div class="arrow-right">
            <svg>
              <use href="#"></use>
            </svg>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
