<section class="success section">
  <div class="container">
    <div class="article-holder">
      <div class="article-img">
        <img src="./images/default.png" alt="article image" />
      </div>
      <div class="article-description">
        <h2 class="success_title">Caso de éxito</h2>
        <h3 class="title article-title">
          Bellcorp hace uso de datos para el Customer Journey
        </h3>
        <p class="article-text">
          Belcorp, en el año 2019, construyó junto a Neo Consulting la nueva
          app, Gana+, una plataforma con diseño UX de altos estándares que les
          permitiera levantar insights de sus consultoras.
        </p>
        <div class="article-link-holder">
          <a href="#" class="article-link">Ver el caso</a>
        </div>
      </div>
    </div>
    <!-- <div class="article-holder">
      <div class="article-img">
        <img src="./images/default.png" alt="article image" />
      </div>
      <div class="article-description">
        <h2 class="success_title">Caso de éxito</h2>
        <h3 class="article-title">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="article-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
          quibusdam velit necessitatibus corrupti dolorem voluptate fuga
          cupiditate. Sed molestias error sit quasi dolore perspiciatis nam
          accusantium architecto consequuntur.
        </p>
        <a href="#" class="article-link">Ver el caso</a>
      </div>
    </div>
    <div class="article-holder">
      <div class="article-img">
        <img src="./images/default.png" alt="article image" />
      </div>
      <div class="article-description">
        <h2 class="success_title">Caso de éxito</h2>
        <h3 class="article-title">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="article-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
          quibusdam velit necessitatibus corrupti dolorem voluptate fuga
          cupiditate. Sed molestias error sit quasi dolore perspiciatis nam
          accusantium architecto consequuntur.
        </p>
        <a href="#" class="article-link">Ver el caso</a>
      </div>
    </div> -->
    <div class="slider2">00000000000</div>
    <!-- atricle 1 -->
    <!-- atricle 2 -->
    <!-- atricle 3 -->
    <!-- slider -->
  </div>
</section>
