<section class="trust-company">
  <div class="container">
    <h2 class="trust-company_title">
      Algunas empresas que ya confían en nosotros.
    </h2>
    <ul class="trust-company-list">
      <li class="trust-company-item">
        <a href="#" class="trust-company-logo">
          <img
            src="./images/default.png"
            alt="trust-company logo"
            style="width: 95px; height: 40px"
          />
        </a>
      </li>
      <li class="trust-company-item">
        <a href="#" class="trust-company-logo">
          <img
            src="./images/default.png"
            alt="trust-company logo"
            style="width: 95px; height: 40px"
          />
        </a>
      </li>
      <li class="trust-company-item">
        <a href="#" class="trust-company-logo">
          <img
            src="./images/default.png"
            alt="trust-company logo"
            style="width: 95px; height: 40px"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
