<section class="trust-company section">
  <div class="container">
    <h2 class="title trust-company_title">
      Algunas empresas que ya confían en nosotros.
    </h2>
    <ul class="trust-company-list">
      <li class="trust-company-item">
        <a href="#" class="trust-company-logo">
          <img src="./images/default.png" alt="trust-company logo" />
        </a>
      </li>
      <li class="trust-company-item">
        <a href="#" class="trust-company-logo">
          <img src="./images/default.png" alt="trust-company logo" />
        </a>
      </li>
      <li class="trust-company-item">
        <a href="#" class="trust-company-logo">
          <img src="./images/default.png" alt="trust-company logo" />
        </a>
      </li>
      <li class="trust-company-item">
        <a href="#" class="trust-company-logo">
          <img src="./images/default.png" alt="trust-company logo" />
        </a>
      </li>
      <li class="trust-company-item">
        <a href="#" class="trust-company-logo">
          <img src="./images/default.png" alt="trust-company logo" />
        </a>
      </li>
      <li class="trust-company-item">
        <a href="#" class="trust-company-logo">
          <img src="./images/default.png" alt="trust-company logo" />
        </a>
      </li>
    </ul>
  </div>
</section>
