.arrow-down {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  width: 24px;
  height: 24px;
  outline: 2px solid salmon;
  svg {
    width: 24px;
    height: 24px;
  }
}

.arrow-right {
  width: 16px;
  height: 16px;
  display: inline-flex;
  outline: 2px solid seagreen;
  svg {
    width: 16px;
    height: 16px;
  }
}
