.contact-link {
  background-color: var(--color-background-primary);
  color: var(--color-text-dark-primary);
  padding: 10px 20px;
  border: 1px solid var(--color-text-light);
  border-radius: 4px;

  @include transition-for-2(background-color, color);

  &:hover,
  &:focus {
    color: var(--color-background-primary);
    background-color: var(--color-accent-secondary);
  }
}

.solution-link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.71;

  text-decoration: none;

  .arrow-right {
    margin-left: 8px;
  }

  @include transition-for-2(text-decoration, color);

  &:hover,
  &:focus {
    text-decoration: underline;
    color: var(--color-accent-secondary);
  }
}
