.contact-link {
  background-color: var(--color-background-primary);
  color: var(--color-text-dark-primary);
  padding: 10px 24px;
  border: 1px solid var(--color-text-light);
  border-radius: 4px;
}
