.title {
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 2.45;
  letter-spacing: 0.015em;
  text-transform: uppercase;

  @media screen and (max-width: 1310px) {
    font-size: 40px;
  }
}

.highlighted-word {
  font-weight: 700;
  font-size: 90px;
  line-height: 1.29;

  color: var(--color-accent);

  @media screen and (max-width: 1310px) {
    font-size: 64px;
  }
}
