.content {
  &-item {
    margin-bottom: 8px;
    border: 0.3px solid #ccccd6;
    box-shadow: 0px 14px 24px rgba(0, 0, 51, 0.04);
    border-radius: 8px;
  }

  &_title {
    margin-bottom: 32px;
  }

  &_img-holder {
    margin-bottom: 16px;
  }
  &_caption-holder {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
  }

  &-chapter {
    margin-bottom: 8px;

    font-size: 12px;
    line-height: 1.33;
  }
  &_chapter-title {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 16px;
  }
  &_chapter-capture {
    //dont show more than 4 line
    margin-bottom: 8px;

    font-size: 14px;
    line-height: 1.43;
    color: var(--color-text-dark-secondary);
  }
  &-tag {
    margin-bottom: 16px;
    padding: 2px 8px;

    width: max-content;

    background-color: var(--color-background-tag-content);
    opacity: 0.5;
    border-radius: 64px;
  }
  &-link {
    font-size: 14px;
    line-height: 1.43;
  }
}
