.faq {
  padding-top: 0;

  &_title {
    margin-bottom: 16px;
  }

  &-item:not(:last-child) {
    margin-bottom: 26px;
  }

  &_caption {
    margin-bottom: 16px;
    text-align: center;
  }

  .arrow-down {
    margin-left: 16px;

    // transform: rotate(180deg);
  }

  &_question-holder {
    display: flex;

    align-items: center;

    padding: 8px;
    margin-bottom: 16px;

    background: var(--color-background-question);
    border-radius: 4px;

    cursor: pointer;
  }

  &-question {
    font-weight: 700;
  }

  &-answer {
    font-size: 14px;
    line-height: 1.43;

    color: var(--color-text-dark-secondary);
  }
}
