.game-on-landing {
  padding: 0;
}
.game-holder {
  display: flex;

  margin: 0 auto;

  &_item {
    height: 920px;
    width: 384px;

    @media screen and (max-width: 1600px) {
      height: 800px;
      width: 300px;
    }
  }

  .not-ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding: 0 25px;

    background-color: var(--color-background-about-game);
  }

  .not-ready-warning {
    font-weight: 500;
    font-size: 34px;

    @media screen and (max-width: 1600px) {
      font-size: 28px;
    }

    line-height: 1.3;

    opacity: 0.5;
  }

  &_item:nth-child(2) {
    background-color: var(--color-background-main);
    background-image: url(../images/game-holder-02-min.jpg);

    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    @mixin for-pixel-ratio-2() {
      background-image: url(../images/game-holder-02@2x-min.jpg);
    }
  }

  &_item:nth-child(4) {
    background-color: var(--color-background-main);
    background-image: url(../images/game-holder-04-min.png);

    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    @mixin for-pixel-ratio-2() {
      background-image: url(../images/game-holder-04@2x-min.jpg);
    }
  }

  &_item:nth-child(2),
  &_item:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 46px 40px 90px 40px;
    @media screen and (max-width: 1600px) {
      padding: 40px 35px 75px 35px;
    }

    font-weight: 900;
    line-height: 1.24;

    color: var(--color-accent);
    opacity: 0.9;
  }

  &_number {
    align-self: flex-end;
    font-size: 39px;
    @media screen and (max-width: 1600px) {
      font-size: 32px;
    }
    letter-spacing: 0.01em;
  }
  &_name {
    font-size: 50px;
    @media screen and (max-width: 1600px) {
      font-size: 38px;
    }
    letter-spacing: 0.02em;

    text-align: center;
  }
  &_button {
    width: 100%;
    padding: 17px 0;

    font-weight: 500;
    font-size: 23px;
    @media screen and (max-width: 1600px) {
      font-size: 16px;
    }
    letter-spacing: 0.015em;

    background-color: var(--color-dark);
    color: var(--color-font-main);
    opacity: 0.9;
  }

  &_icon {
    margin-top: 55px;
    margin-right: auto;
    margin-left: auto;

    fill: currentColor;
  }
}
