.header {
  background-color: var(--color-background-secondary);
  color: var(--color-text-light);

  & .container {
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_holder {
    display: flex;
    align-items: center;
  }

  //   &_open-slide-menu-btn {
  //     width: 24px;
  //     height: 24px;
  //   }

  &_contact-link {
    padding: 8px 16px;
    background-color: var(--color-background-secondary);
    color: var(--color-text-light);
  }

  .logo-holder {
    margin-left: 16px;
  }
}

.header-slide-menu {
  &_holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_title-holder {
    display: flex;
    flex-direction: row;
    align-items: center;

    .arrow-down {
      margin-left: 8px;
    }
  }

  &_item {
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;

    color: var(--color-text-slide-menu);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  }

  &_item:not(:last-child) {
    margin-bottom: 24px;
  }

  &_subitem-icon {
    width: 24px;
    height: 24px;
  }

  &_item-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--color-text-dark-primary);
  }

  &_subitem {
    display: flex;
    align-items: center;

    padding-top: 12px;
    padding-bottom: 12px;
  }
  &_subitem:not(:last-child) {
    border-bottom: 1px solid var(--color-border-header-slide-menu);
  }

  &_subitem-icon {
    margin-bottom: 0;
    margin-right: 8px;
  }
}
