.join-job {
  &_table {
    width: 100%;
  }

  &_head {
    text-align: left;
  }
  &_row {
    td,
    th {
      border-color: transparent;
      border-bottom-width: 1px;
      border-bottom-color: var(--color-accent);

      // background-color: chartreuse;
    }
  }
}
